body {
    background-image: url("/PL/images/homepageBg3.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.postForm #postForm {
    border: 2px black;
    align-items: center;
    text-align: center;
}

.postContent {
    /* border: 1px solid blue; */
    background-color: gray;

}

.btn {

    height: 40px;
    margin: 0px 20px 0px;
}


.searchButton {
    height: 40px;
    margin: 0px;
}